<!doctype html>
<html>
  <%- include('../_head') %>
  <body>
    
    <%- include('../_header') %>

    <div class="container">
      <div class="jumbotron">
        <h1>Open IoT HUB <span class="font-size-medium text-muted">ALPHA</span></h1>
        <p class="lead">Most simply IoT data hub &#x1f600;</p>
        <hr class="my-4">
        <p>You got more comfortly customization, surpports, And try </p>
        <a class="btn btn-primary btn-lg" role="button" href="/users/new">Sign up</a>
        or
        <a class="btn btn-primary btn-lg" role="button" href="/users/login">Log in</a>
      </div>
    </div>

    <%- include('../_footer') %>
    
  </body>
</html>