<div class="form-group">
  <label for="inputEmail">Email address</label>
  <input type="email" class="form-control" id="inputEmail" name="email">
</div>
<div class="form-group">
  <label for="inputPassword">Password</label>
  <input type="password" class="form-control" id="inputPassword" name="password">
</div>
<button type="submit" class="btn btn-primary">Login</button>