<nav class="navbar navbar-light bg-light margin-bottom-1rem">
  <a class="navbar-brand" href="/">Open IoT HUB <span class="font-size-small text-muted">ALPHA</span></a>
</nav>

<% if(typeof breadcrumb !== 'undefined') { %>
<p>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
      </ol>
    </nav>
  </div>
</p>
<% } %>
